footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer.footer p {
    margin: 0;
}
section#gridContainer {
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

section#gridContainer div.parent {
    height: 360px;
    overflow: hidden;
    cursor: pointer;
}
section#gridContainer div.parent div.child {
    width: 100%;
    height: 100%;
    transition: all .5s;  
    background-color: white; /* fallback color */
    background-position: center;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
section#gridContainer div#parent1 div#child1 {
    background-image: url("assets/black-and-white-bottle-business-1128207.jpg");
}
section#gridContainer div#parent2 div#child2 {
    background-image: url("assets/beach-blue-colors-1150618.jpg");
    color: white;
}
section#gridContainer div.parent:hover div.child{
    transform: scale(1.2);
    opacity: 0.8;
}
section#gridContainer div.parent div.child div.overlay {
    opacity: 0;
    color: black;
    font-size: 28px;
}
section#gridContainer div#parent1 div#child1 div#overlay1 {
    color: black;
}
section#gridContainer div#parent2 div#child2 div#overlay2 {
    color: white;
}
section#gridContainer div.parent:hover div.child div.overlay {
    opacity: 1;
}
@media only screen and (min-width: 601px) {
    section#gridContainer {
        grid-template-columns: 1fr 1fr;
    }
    section#cardContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    section#gridContainer {
        grid-template-columns: 1fr;
    }
    section#cardContainer {
        grid-template-columns: 1fr;
    }
}

/* Flip cards */
section#cardContainer {
    margin: 20px;
    display: grid;
    grid-gap: 10px;
}

.outerCard {
    perspective: 1000px;
    height: 200px;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.outerCard:hover .innerCard {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.frontSide, .backSide {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

/* Style the back side for all cards */
.backSide {
    transform: rotateY(180deg);
}

#card1 .frontSide {
    background-color: goldenrod;
    color: black;
}
#card1 .backSide {
    background-color:darkslateblue;
    color: white;
}

#card2 .frontSide {
    background-color: lightblue;
    color: black;
}
#card2 .backSide {
    background-color: darkred;
    color: white;
}

#card3 .frontSide {
    background-color: lightpink;
    color: black;
}
#card3 .backSide {
    background-color:black;
    color: white;
}
  
  